files
/*.blend
*.blend.0
*.blend1
*.log
tex
*.png
texbin
texbmp
modelbin
modelbin2
*.z64
pd_blendtools/.idea
pd_blendtools/nodes/__pycache__
.idea
pd_blendtools/__pycache__
config.ini
modelbin2
__pycache__
*.bat
